@page "/IdentityService"
@using Microsoft.Extensions.Localization
@using global::Ezrie.IdentityService.Localization
@inject IStringLocalizer<IdentityServiceResource> L
@{
}
<h1>IdentityService</h1>
<p>@L["SamplePageMessage"]</p>