@page "/TenantService"
@using Microsoft.Extensions.Localization
@using global::Ezrie.TenantService.Localization
@inject IStringLocalizer<TenantServiceResource> L
@{
}
<h1>TenantService</h1>
<p>@L["SamplePageMessage"]</p>