/*=== Accordion ===*/
.accordion-panel-block {
	position: relative;

	.panel-title {
		color: $title-color;
		font-size: 18px;
		font-weight: 600;
		padding: 20px 25px 17px 0px;
		display: block;
		border-bottom: 1px solid $border-color;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 12px;
			right: 32px;
			background: white;
			height: 10px;
			bottom: -8px;
			opacity: 0;
			visibility: hidden;
		}

		&:after {
			display: inline-block;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			font: var(--fa-font-solid);
			content: "\f103";
			position: absolute;
			right: 30px;
			bottom: 15px;
			font-size: 20px;
		}

		&:hover {
			color: $primary-color;
			border-color: $primary-color;
		}
	}

	a[aria-expanded="true"] {

		&:before {
			opacity: 1;
			visibility: visible;
		}

		&:after {
			opacity: 1;
			visibility: visible;
			content: "\f106";
			bottom: -8px;
		}
	}

	.panel-body {
		padding: 25px 30px 0;
	}

	.block-body {
		*[contenteditable] {
			cursor: text;
			padding: .5rem;
		}

		*[data-placeholder]:empty {
			&:after {
				content: attr(data-placeholder);
				color: $faded;
			}
		}

		.panel-title {
			margin-bottom: 0;

			&:before {
				opacity: 0;
				visibility: hidden;
			}

			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}

		.panel-body {
			margin-bottom: 0;
		}
	}
}
