@page
@using Microsoft.Extensions.Localization
@using Ezrie.IdentityService.Localization
@using Ezrie.IdentityService.Web.Pages.IdentityService
@model Ezrie.IdentityService.Web.Pages.IdentityService.IndexModel
@inject IStringLocalizer<IdentityServiceResource> L

@{
}
<h1>IdentityService</h1>
<p>@L["SamplePageMessage"]</p>
