@page
@using Microsoft.Extensions.Localization
@using Ezrie.TenantService.Localization
@using Ezrie.TenantService.Web.Pages.TenantService
@model Ezrie.TenantService.Web.Pages.TenantService.IndexModel
@inject IStringLocalizer<TenantServiceResource> L

@{
}
<h1>TenantService</h1>
<p>@L["SamplePageMessage"]</p>
