<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules xdt:Transform="InsertIfMissing">
				<remove name="WebDAVModule" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
			</modules>
			<handlers>
				<remove name="WebDAV" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
			</handlers>
		</system.webServer>
	</location>
</configuration>
