@page "/AdministrationService"
@using Microsoft.Extensions.Localization
@using global::Ezrie.AdministrationService.Localization
@inject IStringLocalizer<AdministrationServiceResource> L
@{
}
<h1>AdministrationService</h1>
<p>@L["SamplePageMessage"]</p>